body{
    background-color: antiquewhite;
}

h1{
    color:gold;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;

}

img{
    height: 250px;
    width: 350px;
    border: 5px outset rgb(228, 201, 49);
    border-radius: 20px;

}

img:hover{

    border: 10px solid rgb(230, 190, 197);
    transition: 0.5;
}